
.container__menu-title{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
