<div class="container__menu-bar">
  <div class="container__menu-icon">
    <a [routerLink]="['']" ><img src="https://icons.veryicon.com/png/128/application/skills-section/angular-1.png"></a>
  </div>
  <ul class="container__menu-social">
    <li><a href="https://www.youtube.com/channel/UC-2KeLh2ALpF8Wsxc4I7GKg" target="_blank">Youtube</a></li>
    <li><a href="https://www.linkedin.com/in/evertonle%C3%A3otrue/" target="_blank">Linkedin</a></li>
    <li><a href="https://github.com/VToum" target="_blank">GitHub</a></li>
  </ul>
  <div class="container__menu-bar-hr">
    <hr>
  </div>
</div>
